In [1]:
#Import matplotlib library for ploting a graph
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
#Import numpy, pandas, & datetime.
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# In order to connect to query a SQLite database.
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [9]:
def WeatherData(start=None, end=None):
    # Perform a query to retrieve the data and precipitation scores
    results = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).all()
    # Save the query results as a Pandas DataFrame and set the index to the date column
    df = pd.DataFrame(results, columns=['date','precipitation', 'temperature'])
    df.set_index(df['date'], inplace=True)
    df.index = pd.to_datetime(df.index)
    df.drop("date",axis=1,inplace=True)
    df = df[(df.index.month.isin([f'{start}',f'{end}']))]
    return(df)

In [10]:
# Identify count, max, min, mean, standard deviation, and percentiles in June 
JuneDf = WeatherData('06','06')
JuneDf.describe()

       precipitation  temperature
count    1574.000000  1700.000000
mean        0.136360    74.944118
std         0.335731     3.257417
min         0.000000    64.000000
25%         0.000000    73.000000
50%         0.020000    75.000000
75%         0.120000    77.000000
max         4.430000    85.000000

In [11]:
# Identify count, max, min, mean, standard deviation, and percentiles in December 
DecTemp = WeatherData('12', '12')
DecTemp.describe()

       precipitation  temperature
count    1405.000000  1517.000000
mean        0.216819    71.041529
std         0.541399     3.745920
min         0.000000    56.000000
25%         0.000000    69.000000
50%         0.030000    71.000000
75%         0.150000    74.000000
max         6.420000    83.000000

In [ ]:
# Comparing the findings between the month of June and December.

# Analysis 

# June shows encouraging temperatures at 85F Max and 64F Min, compared to December temperatures at 83F Max and 56F Min.
# June will be the ideal month for the locals and tourist to bring in more walking traffic to the store.  December will
# bring in less foot traffic due the the lower temperatures.  

# Recommendations for further Analysis.

# -More data needs to be presented on the foot traffic on the island during the year to have more comparison of the foot
# traffic season.
# -Another comparison that could also determine the foot traffic is the age of people.  Huge driving factor is kids, 
# teenagers, & young adults coming in at any giving time of the day and months on determing the surf board & icecream sales.